.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
}
    
.background__imag {
    position: absolute;
    left: +45%;
    width: 50%;
    height: 100%;
    right: 0;
    bottom: -18%;
    background-position: 100% 75%;
    background-size: cover;
    opacity: .4;
    border:0;
}
    
.background__image-2{
    width: 100%;
    height: 100%;
    bottom: -60%;
    left: -45%;
    color: #aacc5c;
    position: absolute;
    background-repeat: no-repeat;
}