.button-bady {
    display: flex;
    align-items: center;
    font-size: 16pt;
    text-decoration: underline;
    text-decoration-color: #aacc5c;
    color: black;
    margin: 25px 25px;
    transition: padding .2s;
    background: transparent;
    border: inherit;
    border-radius: 4px;
    line-height: 36px;
    font-weight: 500;
    padding: 18px;
    }
    
.button-bady:hover {
    background-color: #aacc5c;
}