.galleryContainer{
    width: 100%;
}

.photoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.image{
    width: auto;
    height: 200px;
    margin: 8px;
}

.indexImage{
    width: auto;
    height: 400px;
    margin: 8px;
}

@media screen and (max-width: 768px) {
    .indexImage {
        width: 150px;
        height: 100%;
    }

    .image {
        width: 150px;
        height: 100%;
    }
}