.gallery__container{
}

.photo__container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.image-wrapper{
    position: relative;
    padding-top: 100%;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 768px) {
    .image {
        width: 150px;
        height: 100%;
    }
}