.homepageInfoText{
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
}

.homepageInfo {
    font-size: 22px;
    margin-bottom: 18px;
    margin-top: 18px;
    text-decoration: underline;
    text-decoration-color: #aacc5c;
}

.homepage{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .homepageInfoText {
        flex-direction: column;
    }
}