.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding-top: 36px;
    color: #000000;
}
    
.addressName{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
}
    
.addressInfo {
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 24px;
}

.adress {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.openingHours {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .adress {
        flex-direction: column;
    }
}
