.kaleidoskop__img{
    width: 100%;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border:0;
}

.kaleidoskop-body__img{
    height: 120px;
    margin: 8px;
}