.navbar {
    width: 100%;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
}

.navbar__image {
    height: 60px;
    margin-right: 10px;
    margin-top: 4px;
}

.navbar__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border: 0;
    background-color: #aacc5c;
    border-radius: 16px;
}

.navbar__list-item {
    font-size: 16pt;
    line-height: 36px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    color: black;
}

.navbar__list-item:hover {
    background-color: #aacc5c;
}

@media screen and (max-width: 768px) {
    .navbar__list {
        flex-direction: column;
    }
    .navbar__image {
        height: 140px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.instagram__image {
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
