.team {
    display: flex;
    justify-content: center;
}

.teamMargin {
    margin-bottom: 40px;
}

.projekt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
}

.projektImg{
    width: auto;
    height: 250px;
}

.teamMember {
    margin: 8px;
    margin-top: 36px;
    width: auto;
    height: 400px;
}

.teamImg{
    width: auto;
    height: 400px;
}

@media screen and (max-width: 768px) {

    .team {
        flex-direction: column;
    }

    .teamImg {
        width: 300px;
        height: auto;
    }

    .team {
        margin-bottom: 0px;
    }

    .teamMember {
        margin: 8px;
        margin-top: 24px;
        width: 200px;
        height: auto;
    }

    .projektImg{
        width: 200px;
        height: auto;
    }
}