.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-margin {
    margin-bottom: 40px;
}

.projekt-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projekt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
}

.projekt__img{
    width: auto;
    height: 250px;
}

.team-member {
    margin: 8px;
    margin-top: 46px;
    width: auto;
    height: 400px;
}

.team__img{
    width: auto;
    height: 400px;
}

@media screen and (max-width: 768px) {

    .team {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0px;
    }

    .team__img {
        width: 300px;
        height: auto;
    }

    .projekt-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-member {
        margin: 8px;
        margin-top: 24px;
        height: auto;
    }

    .projektImg{
        width: 200px;
        height: auto;
    }
}