.unsereProjekte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.unsereProjekteHeader {
    display: flex;
    justify-content: center;
    font-size: 38px;
    line-height: 26px;
    margin: 8px;

}

.unsereProjekteBady {
    display: flex;
    flex-direction: row;

}

.unsereProjektContainer {
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    .unsereProjekteBady {
        flex-direction: column;
        
    }
}